{% extends 'base.html' %}

{% block content %}

<div class="text-center mt-5">
  <h1 class="display-3 fw-bold">Placement Portal</h1>

  <div class="mt-4">
    {% if current_user.is_authenticated %}
      <a href="{{ url_for('main.dashboard') }}" class="btn btn-success btn-lg">
        Go to Dashboard
      </a>
    {% else %}
      <a href="{{ url_for('main.signup') }}" class="btn btn-primary btn-lg me-3">
        Signup
      </a>
      <a href="{{ url_for('main.login') }}" class="btn btn-outline-dark btn-lg">
        Login
      </a>
    {% endif %}
  </div>
</div>

{% endblock %}