{% extends "base.html" %}

{% block content %}

<div class="row justify-content-center">
  <div class="col-md-5">

    <div class="card shadow-sm p-4">
      <h3 class="text-center mb-4">Create Account</h3>

      <form method="POST">

        <div class="mb-3">
          <label class="form-label">Name</label>
          <input name="name" required class="form-control" placeholder="Enter your name">
        </div>

        <div class="mb-3">
          <label class="form-label">Email</label>
          <input name="email" type="email" required class="form-control" placeholder="Enter your email">
        </div>

        <div class="mb-3">
          <label class="form-label">Password</label>
          <input name="password" type="password" required class="form-control" placeholder="Create a password">
        </div>

        <div class="d-grid">
          <button class="btn btn-primary">Signup</button>
        </div>

      </form>

      <p class="text-center mt-3">
        Already have an account? 
        <a href="{{ url_for('login') }}">Login</a>
      </p>

    </div>

  </div>
</div>

{% endblock %}